QWidget {
    background-color: #1e1e1e;
    color: #ffffff;
}
QTextEdit, QListWidget, QLineEdit, QComboBox {
    background-color: #252525;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px;
    font-family: Arial;
    font-size: 8pt;
    selection-background-color: #3a3a3a;
}
QPushButton {
    background-color: #353535;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px;
}
QPushButton:hover {
    background-color: #454545;
}
QPushButton:pressed {
    background-color: #252525;
}
QGroupBox {
    border: 1px solid #444;
    border-radius: 4px;
    margin-top: 10px;
    padding-top: 15px;
}
QGroupBox::title {
    subcontrol-origin: margin;
    left: 10px;
    padding: 0 3px;
}
QScrollBar:vertical {
    background: #252525;
    width: 10px;
}
QScrollBar::handle:vertical {
    background: #454545;
    min-height: 20px;
}

QToolTip { 
    color: #ffffff; 
    background-color: #2a82da; 
    border: 1px solid white; 
}
QScrollArea {
    border: none;
    background: #1e1e1e;
    border-radius: 5px;
    border: 1px solid #333333;
}